<div class="container table__container">
  <table class="table table__rola" >
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Duración</th>
        <th>Autor</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rola of rolas">
        <td>{{ rola.titulo }}</td>
        <td>{{ rola.duracion }}</td>
        <td>{{ rola.autor.nombre }}</td>
        <td>
          <button>Actualziar</button>
          <button>Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
